/* NewsFeed.css */
.news-feed {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    /* gap: 20px; */
    padding: 20px;
}

.news-article {
    width: 80%;
    max-width: 290px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.news-article img {
    max-width: 100%;
    border-radius: 8px;
}

.news-article h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.news-article p {
    font-size: 1em;
    color: #555;
}

.news-article a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.news-article a:hover {
    text-decoration: underline;
}
