.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Currency Conversion */
.currencyConversion {
  display: flex;
  /* flex-flow: row wrap; */
  gap: 20px;
  padding: 20px;
}

.btn-custom {
  background-color: #02b7ef;
  color: white;
  border: none;
}

.btn-custom:hover {
  background-color: darken(#02b7ef, 10%); /* Optional: Darken on hover */
  color: white;
}

.internopay-logo {
  width: 300px;
}

.form-but {
  gap: 10px;
}
.stockList {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .internopay-logo {
    width: 200px;
  }
  .currencyConversion {
    flex-flow: column wrap;
  }
}


/* src/components/CurrencyConverter.css */
.currency-flag {
  width: 20px;
  height: 15px;
  margin-right: 8px;
  vertical-align: middle;
}